/* Basic styling */
@media (min-width:996px) {
    .web-boost {
        padding:1rem 6rem !important;
    }
}
.web-boost {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding:4rem 2rem;
    background-color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    color: #002159;
    margin-top: 4rem;
  }
  

  .web-content {
    flex: 1;
    padding: .5rem;
    margin-top: 2rem;
  }
  
  .web-content h4 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: 800;
  }
  

  .web-content h1 {
    font-size: 48px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  @media (max-width: 768px) {
    .web-content h1 {
      font-size: 40px;
    }
}

  @media (max-width: 480px) {
    .web-content h1 {
      font-size: 32px;
    }
}
  
  .web-content p {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }
  
  .web-content ul {
    list-style: none;
    padding: 0;
    margin-bottom: 2rem;
  }
  
  .web-content ul li {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
  }
  
  .web-content ul li::before {
    content: '✔️';
    margin-right: 0.5rem;
    color: #4B58DB;
  }
  
  .web-button {
    background-color: #4B58DB;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .web-button:hover {
    background-color: #3e47b1;
  }
  
 
  .web-image {
    flex: 1;
    padding: 1rem;
    text-align: center;
  }
  
  .web-image img {
    width: 100%;
    max-width: 600px;
    max-height: 500px;
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  }
  

  @media (max-width: 768px) {
    .web-boost {
      flex-direction: column;
      padding: 1rem;
        gap: 1.5rem;
    }
    .web-content, .web-image {
      flex: none;
      width: 100%;
    }
    .web-image {
        padding: 4px;
      }
  }
  