  .whatsapp-btn-container {
    position: fixed;
    left: 20px;
    bottom: 25px;
    height: 37px; /* Increased height to accommodate padding and border-radius */
    width: 37px;  /* Increased width to accommodate padding and border-radius */
    padding: 5px;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: pulse 2s infinite;
    background-color: #fff; /* Added background color */
    border-radius: 5px; /* Made it circular */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added a subtle shadow */
  }
  
  .whatsapp-btn-container .whatsapp-btn {
    font-size: 45px;
    color: #25d366;
    background-color: transparent; /* Removed background color */
    transition: transform 0.3s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  