.footer {
    background-color: #00001B;
    color: #fff;
    padding: 40px 20px;
    margin-top: 4rem;

  }
  
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 4rem;
  }

  .footer-logo{
    display: flex;
    flex-direction: column;
    gap: 2rem;

  }
  
  .footer-logo img {
    margin-top: 1.2rem;
    width: 180px; /* Adjust as necessary */
    height: 80px;
    border-radius: 10px;
    background:linear-gradient(192deg, #FF87FA 17%, #AF3CFF 100%) !important;
  }
  
  .footer-section {
    margin-bottom: 20px;
    flex: 1 1 200px; /* Adjust width for responsiveness */
  }
  
  .footer-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .footer-list {
    list-style: none;
    padding: 0;
  }
  
  .footer-list li {
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .social-icons {
    display: flex;
    gap: 1rem;
  }

  .footer-bottom {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
  }
  
  .social-icons i {
    font-size: 24px;
    
    cursor: pointer;
  }
  .icon-box{
    border: 1px solid rgb(179, 175, 175);
    padding: 10px;
    height: 36px;
    width: 36px;
    border-radius: 5px;
    color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease .5s;
  }
  .icon-box:hover{
    background-color: #5993FA;
    color: #fff;
    border: none;
  }
  

   
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-section {
      text-align: center;
    }
  }
  
  .link{
    color:#ffff;
    text-decoration: none;
  }

  .newsletter-btn{
    min-width: 280px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius:10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .newsletter-btn input{
    
    height: 100%;
    width: 70%;
    border: none;
    border-radius:10px 0 0 10px !important;
    padding: 15px !important;
    outline: none; 

  }
  .newsletter-btn input:focus{
    border: none;
    outline: none; 
  }
  

  .newsletter-btn button{
      height: 100%;
      width: 30%;
      border: none;
      border-radius:0 10px 10px 0 !important;
      background: linear-gradient(192deg, #FF87FA 17%, #AF3CFF 100%) !important;
      color: #fff;
  }